h1{color: blueviolet;font-size: 30px;}
p{color: #79d0a9; font-size: 40px; background-color: #c70039;}
h3{color: rgb(105, 59, 190);font-size: 39px; background-color: antiquewhite;}
h4{color: rgba(161, 37, 15, 0.5);font-size: 80px;}